.calculator {
    @apply bg-slate-700 p-6 rounded-2xl shadow-lg shadow-black/50 text-xl;
}

.calculator input{
    @apply bg-stone-100 rounded-md shadow-lg shadow-black/30 
     font-bold;
}

.calculator input[type="button"]{
    @apply w-16 h-16 m-[2px] active:bg-stone-200;
}

.equal {
  @apply w-32 text-green-500 !important;
}